@import "tailwindcss";

@theme {
    --color-primary: #ff8901;
    --color-secondary: #fb923c;
    
    --container-center: true;
    --container-padding: 1rem;      
}

@media (width >= 640px) {:root{
    /* sm */
    --container-padding: 1rem;
}
}
@media (width >= 1024px) {:root  {
    /* lg */
    --container-padding: 1rem;
}
}
@media (width >= 1280px) { :root
{
    /* xl */
    --container-padding: 1rem;
}
}