@import "tailwindcss";

@theme {
    --color-primary: #ff8901;
    --color-secondary: #fb923c;
    
    --color-liga-1: oklch(0.95 0 4) ;
    --color-liga-2: oklch(0.27 0.04 219 / 86%);
    --container-center: true;
    --container-padding: 1rem;      
}

@media (width >= 640px) {:root{
    /* sm */
    --container-padding: 1rem;
}
}
@media (width >= 1024px) {:root  {
    /* lg */
    --container-padding: 1rem;
}
}
@media (width >= 1280px) { :root
{
    /* xl */
    --container-padding: 1rem;
}
}